
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
    <style>
        .container {
            display: flex; /* Hace que los elementos dentro del contenedor se muestren en línea (horizontal) */
            justify-content: center; /* Centra los elementos horizontalmente */
        }
        .link {
            margin: 10px; /* Margen entre los vínculos */
            padding: 10px 20px; /* Relleno (espacio dentro del vínculo) */
        }
    </style>
</head>
<body>
    <h1>Menú</h1>
    <div class="container">

        <a href="/Menu/FormularioDatos" class="link">Nombre</a>
        <a href="/Menu/FormularioDireccion" class="link">Direccion</a>
    </div>
</body>
</html>
