
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaDireccion</title>
</head>
<body>
    <h1>Direccion</h1>
    <div>
        Mi direccion es: @TempData["tempdata2"]
        <br /><br />        

        <a href="/Menu/Index">Regresar</a>
    </div>
</body>
</html>
